<div class="middle">
  <%= link_to bookings_path, class: "home-link" do %>
    <button class="home_button">
      <div class="grey">
        ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ
      </div>
    </button>
  <% end %>
  <%= link_to clients_path, class: "home-link" do %>
    <button class="home_button">
      <div class="grey">
         ΠΕΛΑΤΕΙΑ
      </div>
    </button>
  <% end %>
</div>
