.planning-hour {
  border: solid 1px black;
  width: 160px;
}

.planning-cell {
  height: 5px;
}

.day-cell {
  height: 30px;
  border: solid 1px black;
}

.day-column {
  width: 160px;
}

#planning-table {
  display: flex;
}

.employees-column {
  display: flex;
}

.shift-cell {
  display: flex;
}