<div>
  <h1>New planning</h1>
</div>
<div data-controller="new-planning">
  <%= form_with model: @planning do |form| %>
    <%= form.label :from, "week starting on :" %>
    <%= form.date_field :from, data: { new_planning_target: "from", action: "change->new-planning#checkMonday" } %>
    <%= form.submit data: { new_planning_target: "submit" } %>
  <% end %>
  <p data-new-planning-target="error"></p>
</div>